#menu-toggle:checked + #menu {
  display: block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
body{
  margin:0;
  box-sizing:border-box;
  width:auto;
  min-height:full;
}
html{
  min-height: 100vh;
}
.add-product{
  min-width:1152px;
}
